.DashboardContainer {
  width: 81vw;
  height: 100vh;
  overflow-y: scroll;
}

.DashboardTile {
  margin-top: 3vh;
  margin-bottom: 0;
  color: #101e42 !important;
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  font-weight: 900;
}

.DashboardSubTile {
  color: #292e3b !important;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

.buttonPagination {
  background-color: #101e42;
  color: white;
  border: 0;
  padding: 15px 35px;
}

.btl {
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
}

.btr {
  border-top-left-radius: 25%;
  border-bottom-left-radius: 25%;
}

.btr:focus {
  outline: 0;
}
