.ServicesContainer {
  width: 81vw;
  height: 100vh;
}

.ServiceTile {
  margin-top: 2vh;
  margin-bottom: 0;
  color: #101e42 !important;
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  font-weight: 900;
}

.ServiceSubTile {
  color: #292e3b !important;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

.buttonPagination {
  background-color: #101e42;
  color: white;
  border: 0;
  padding: 15px 35px;
}

.btl {
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
}

.btl:focus {
  outline: 0;
}

.btr {
  border-top-left-radius: 25%;
  border-bottom-left-radius: 25%;
}

.btr:focus {
  outline: 0;
}

.paginationButCont {
  position: absolute;
  width: 83vw;
  right: 0;
  bottom: 12vh;
}


.serviceContainer {
  cursor: pointer;
  transition: transform 0.2s;
}

.serviceContainer:hover {
  transform: scale(1.02);
  z-index: 0;
}

.imageShow {
  margin-top: 8vh;
}

.ServicesDisplay{
  width: 81vw;
  margin-left: -2vw;
}