.ServicesContainer {
  width: 100vw;
  height: 100vh;
}

.ServiceTile {
  margin-top: 2vh;
  margin-bottom: 0;
  color: #101e42 !important;
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  font-weight: 900;
}

.ServiceSubTile {
  color: #292e3b !important;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

.buttonPagination {
  background-color: #101e42;
  color: white;
  border: 0;
  padding: 15px 25px;
}

.btl {
  border-radius: 25%;
}

.btl:focus {
  outline: 0;
}

.btr {
  border-radius: 25%;
}

.btr:focus {
  outline: 0;
}

.paginationButCont {
  width: 90vw;
  margin: 0 auto;
}

.serviceContainer {
  cursor: pointer;
  transition: transform 0.2s;
}

.serviceContainer:hover {
  transform: scale(1.02);
  z-index: 0;
}

.imageShow {
  margin-top: 8vh;
}

.ServicesDisplay {
  width: 81vw;
  margin-left: -2vw;
}

.serviceShowCont {
  width: 78vw;
}

.imageContService {
  height: 50vw;
  width: 100%;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .ServicesContainer {
    width: 81vw;
    height: 100vh;
  }

  .ServiceTile {
    margin-top: 2vh;
    margin-bottom: 0;
    color: #101e42 !important;
    font-family: "Roboto", sans-serif;
    font-size: 3rem;
    font-weight: 900;
  }

  .ServiceSubTile {
    color: #292e3b !important;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
  }

  .buttonPagination {
    background-color: #101e42;
    color: white;
    border: 0;
    padding: 15px 25px;
  }

  .btl {
    border-top-right-radius: 25%;
    border-bottom-right-radius: 25%;
  }

  .btl:focus {
    outline: 0;
  }

  .btr {
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
  }

  .btr:focus {
    outline: 0;
  }

  .paginationButCont {
    position: absolute;
    width: 83vw;
    right: 0;
    bottom: 10vh;
    margin: 0;
  }

  .serviceContainer {
    cursor: pointer;
    transition: transform 0.2s;
  }

  .serviceContainer:hover {
    transform: scale(1.02);
    z-index: 0;
  }

  .imageShow {
    margin-top: 8vh;
  }

  .ServicesDisplay {
    width: 81vw;
    margin-left: -2vw;
  }

  .serviceShowCont {
    width: 26vw;
  }

  .imageContService {
    height: 26vw;
    width: 26vw;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .ServicesContainer {
    width: 100vw;
    height: 100vh;
  }

  .ServiceTile {
    margin-top: 20vh;
    margin-bottom: 0;
    color: #101e42 !important;
    font-family: "Roboto", sans-serif;
    font-size: 3rem;
    font-weight: 900;
  }

  .ServiceSubTile {
    color: #292e3b !important;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
  }

  .buttonPagination {
    background-color: #101e42;
    color: white;
    border: 0;
    padding: 15px 25px;
  }

  .btl {
    border-top-right-radius: 25%;
    border-bottom-right-radius: 25%;
  }

  .btl:focus {
    outline: 0;
  }

  .btr {
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
  }

  .btr:focus {
    outline: 0;
  }

  .paginationButCont {
    position: absolute;
    width: 100vw;
    right: 0;
    top: 28.5vh;
    margin: 0;
  }

  .serviceContainer {
    cursor: pointer;
    transition: transform 0.2s;
  }

  .serviceContainer:hover {
    transform: scale(1.02);
    z-index: 0;
  }

  .imageShow {
    margin-top: 3vh;
  }

  .ServicesDisplay {
    width: 90vw;
    margin: 0 auto;
  }

  .serviceShowCont {
    width: 26vw;
  }

  .imageContService {
    height: 26vw;
    width: 26vw;
  }

  .requestApo {
    margin-bottom: 10px;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1224px) {
  .ServicesContainer {
    width: 81vw;
    height: 100vh;
  }

  .ServiceTile {
    margin-top: 2vh;
    margin-bottom: 0;
    color: #101e42 !important;
    font-family: "Roboto", sans-serif;
    font-size: 3rem;
    font-weight: 900;
  }

  .ServiceSubTile {
    color: #292e3b !important;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
  }

  .buttonPagination {
    background-color: #101e42;
    color: white;
    border: 0;
    padding: 15px 25px;
  }

  .btl {
    border-top-right-radius: 25%;
    border-bottom-right-radius: 25%;
  }

  .btl:focus {
    outline: 0;
  }

  .btr {
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
  }

  .btr:focus {
    outline: 0;
  }

  .paginationButCont {
    position: absolute;
    width: 83vw;
    right: 0;
    bottom: 10vh;
    margin: 0;
  }

  .serviceContainer {
    cursor: pointer;
    transition: transform 0.2s;
  }

  .serviceContainer:hover {
    transform: scale(1.02);
    z-index: 0;
  }

  .imageShow {
    margin-top: 8vh;
  }

  .ServicesDisplay {
    width: 81vw;
    margin-left: -2vw;
  }

  .serviceShowCont {
    width: 26vw;
  }

  .imageContService {
    height: 26vw;
    width: 26vw;
  }
}

@media only screen and (min-width: 1224px) {
  .ServicesContainer {
    width: 82vw;
    height: 100vh;
  }

  .ServiceTile {
    margin-top: 1vh;
    margin-bottom: 0;
    color: #101e42 !important;
    font-family: "Roboto", sans-serif;
    font-size: 3rem;
    font-weight: 900;
  }

  .ServiceSubTile {
    color: #292e3b !important;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 0;
  }

  .buttonPagination {
    background-color: #101e42;
    color: white;
    border: 0;
    padding: 15px 25px;
  }

  .btl {
    border-radius: 25%;
  }

  .btl:focus {
    outline: 0;
  }

  .btr {
    border-radius: 25%;
  }

  .btr:focus {
    outline: 0;
  }

  .paginationButCont {
    position: absolute;
    width: 80vw;
    right: 1vw;
    bottom: 2vh;
    margin: 0;
  }

  .serviceContainer {
    cursor: pointer;
    transition: transform 0.2s;
  }

  .serviceContainer:hover {
    transform: scale(1.02);
    z-index: 0;
  }

  .imageShow {
    margin-top: 8vh;
  }

  .ServicesDisplay {
    width: 81vw;
    margin-left: 0;
  }

  .serviceShowCont {
    width: 26vw;
  }

  .imageContService {
    height: 26vw;
    width: 26vw;
  }
}
